body {
  background-image: url('https://s3-us-west-2.amazonaws.com/userdata123/www/imagefields/6189/theme_form_background_image-1655979649-847-74-3796189495.jpg?_=1655979651494&_=1657296639287');
  background-color: rgb(234, 245, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 75%;
  gap: 10px;
  align-items: center;
  display: inline-block;
}


.firstname,
.lastname,
.phonenumber,
.dateofbirth,
.Insurance,
.street_address,
.city_address,
.state_addresss,
.zip_address,
.Country_dropdown
{
  border: none;
  outline: none;
  font-size: 18px;
}


input[type='radio']:{
  box-sizing: border-box;
  background: white;
  outline: none;
  border: 2px solid;
  width: 16px;
  height: 16px;
  cursor: pointer;
  
}

input[type='radio']:checked{
  background-color: #030303;
 }


#fname,
#lname,
#male,
#female,
#Phone,
#DOB,
#Single,
#Married,
#Divorced,
#Widow,
#PAddress,
#Iname,
#country,
#Anemia {
    color: #070606;
    padding: 15px 15px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 6px !important;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: rgba(0, 0, 0, .15);
    border-color: transparent;
    
}



.PatientMedicalHistory {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
 
}

.checkbox-item {
  display: flex;
  border: none;
  
}

.PatientMedicalHistory input[type="checkbox"] {
 
  accent-color: #030303; 
}

  

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.PatientName,
.Gender,
.PatientPhone,
.PatientDOB,
.PatientMstatus,
.PatientAddress,
.PatientInsurence,
.PatientMedicalHistory {
    width: 100%;
}

.checkbox-item {
  display: grid;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  width: 30%;
  text-align: left;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 70%;
}

.input-group input {
  flex: 1;
  text-align: left;
}


.input-group.address-fields{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
  justify-content: flex-end;
}

.input-group.address-fields input,
.input-group.address-fields select{
  flex: 1 1 45%;
  padding: 6px;
  text-align: left;
}

.input-group.check-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6px;
  text-align: left;
  width: 70%;
  justify-content: flex-end;

}













